/*  Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF */

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Montserrat:wght@300;400;700&family=Patua+One&family=Rubik:wght@300&family=Sniglet&display=swap');

/* General styles */
html {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #1A1A1A;
    font-weight: 300;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
}

h2 {
    font-size: 1.2rem;
    font-weight: 550;
}

h3 {
    font-weight: bold;
    margin: 50px 0;
}

p {
    line-height: 150%;
}

/* Navbar */
nav {
    overflow: hidden;
    position: fixed;
    background-color: #FFF;
    top: 0;
    width: 100%;
    z-index: 1;
    font-size: 0.8rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 60px;
}

.logo {
    height: 40px;
}

.links li {
    display: inline;
    padding: 15px;
}

/* Header */
#header {
    background-image: url(../images/landing.jpg);
    background-size: 100%;
    height: 900px;
    position: relative;
    border-style: solid;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
}

#header .content {
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#header p {
    font-weight: 300;
    font-size: 1.2rem;
}

/* Value Section */
#value .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 150px;
}

.value-title {
    padding-bottom: 20px;
    border-bottom: 5px solid #00B172;
}

#value .value-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#value .value-item {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
}

#value .value-item img {
    height: 180px;
    width: 200px;
}

#value .icon {
    text-align: center;
    margin-bottom: 20px;
}

#value .value-info {
    text-align: center;
}

#value h3 {
    color: #00B172;
}

/* Green Section */
#green .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
    overflow: hidden;
    margin: 80px 100px;
    background: #00B172;
    color: #FFF;
    padding-top: 100px;
    padding-bottom: 100px;
    position:relative;
}

#green .col-left {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#green .col-left h2 {
    width: fit-content;
    padding-bottom: 10px;
    border-bottom: 5px solid #FFF;
}

#green .col-right {
    flex-basis: 40%;
    position: relative;
}

#green .col-right img {
    width: 450px;
}

#green .col-right .img {
    position: absolute;
    top: 50%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: .9;
}

#green .spotify-logo img {
    height: 200px;
    width: 200px;
    max-width: 400px;
}

#green .spotify-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}